.accordion__btn {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #363636;
  color: #fff;
  text-align: left;
  transition: .2s;
}

.accordion__btn::after {
  content: '\25be';
  float: right;
  transform: scale(1.5);
}

.accordion__btn--active+.accordion__content {
  display: block;
}

.accordion__btn--active {
  background: #454545;
}

.accordion__btn--active::after {
  content: '\25b4';
}

.accordion__content {
  padding: 15px;
  background: rgb(99, 99, 99);
  display: none;
  overflow: auto;
}